<!DOCTYPE html>
<html lang="fr">
    <head>

        <title> Mon premier Post </title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

         <!-- css -->
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
         <link rel="stylesheet" href="c:/wamp64/www/sitesatymoocosplay/src/css/main.css">
         <!-- css -->
         
         <!-- font -->
         <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
         <script src="https://kit.fontawesome.com/e0266de9c1.js" crossorigin="anonymous"></script>
         <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:800&display=swap" rel="stylesheet">
         <!-- font -->

    </head>
    

     <body>
        <!-- header -->
        <div class="block">
            <header class="header">
                <a href="#" class="header-logo">Satymoo Cosplay</a>
                    <nav class="header-menu">
                        <a href="c:/wamp64/www/sitesatymoocosplay/index.html">Acceuil</a>
                        <a ref="#">Portefolio</a>
                        <a ref="#">Artciles</a>
                        <a ref="#">Wip</a>
                    </nav>
            </header>
        </div>
            <!-- header -->
    
            <!-- banner  -->
        <div class="block">
            <div class="banner">
                <img src="c:/wamp64/www/sitesatymoocosplay/src/img/cfcbanniere2020.jpg" alt="bannière de cfc 2020 " class="banner-image">                 
            </div>
        </div>
            <!-- banner -->
            
            <!-- post cfc -->
            <article class="article-post-cfc">
                <p>
                    <img src="c:/wamp64/www/sitesatymoocosplay/src/img/reine de coeur.jpg" class="photoarticlewow" alt="image de wow selection cfc 2020">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit quos sint similique, necessitatibus facere laboriosam a recusandae eum incidunt tenetur qui illum error dolorum possimus. Corrupti natus nisi saepe.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero consectetur repudiandae, asperiores veniam repellat sapiente optio molestiae culpa quos, aperiam temporibus sit ullam, rem placeat. Aliquam aspernatur mollitia nemo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio quidem dolor officiis aliquid nam? Fugit, repellat sint. Mollitia recusandae qui similique rem autem culpa debitis? Commodi vel reiciendis suscipit fugiat!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reiciendis repellendus accusantium molestias non asperiores nemo est dolorem odio vel, mollitia nobis consequuntur impedit voluptatem architecto, voluptatum, neque laborum dolorum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem reiciendis dolorum aliquam quidem iusto nostrum cupiditate, quam fuga autem velit, sunt illum excepturi rerum temporibus esse? Molestias quibusdam doloribus veritatis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam hic eaque accusamus a recusandae nihil quae molestiae sit similique ea libero quos atque sint corporis, natus architecto possimus voluptatibus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquid aperiam laudantium eligendi qui expedita. Consequuntur tempore dolorem deserunt quos eaque corrupti non, rem vitae reprehenderit, rerum cupiditate fuga possimus!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint enim odit pariatur unde architecto veritatis obcaecati, amet eligendi sed, excepturi, iusto tempora laboriosam id nostrum reprehenderit repellat quia necessitatibus at.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam deserunt esse odio nobis qui sequi veritatis, doloremque, autem debitis eaque nisi nemo neque! Eaque porro delectus nihil unde quaerat iusto.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, similique? Blanditiis sint nesciunt est maxime voluptatem velit id dicta sequi error ad vitae necessitatibus quibusdam, accusamus modi officiis optio. Animi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum incidunt dolor voluptatum aperiam iure, eum in repellat architecto temporibus numquam repellendus reprehenderit debitis natus totam sint repudiandae atque laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat nam inventore esse sint incidunt perferendis corrupti animi. At autem eos reiciendis nisi harum sit laboriosam, maxime non ipsam quibusdam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo inventore, ad molestias labore omnis quidem aliquid repellat recusandae, ratione porro provident? Quis dolore esse facere accusamus maxime nesciunt itaque eligendi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, neque rerum? Ratione, accusantium! Beatae est ipsam a aspernatur voluptates quis error, eos accusantium quibusdam doloribus, nihil optio enim nulla. Adipisci?
                </p>
                <p>
                    <img src="c:/wamp64/www/sitesatymoocosplay/src/img/wow.jpg" class="photoarticlewow" alt="image de wow selection cfc 2020">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit quos sint similique, necessitatibus facere laboriosam a recusandae eum incidunt tenetur qui illum error dolorum possimus. Corrupti natus nisi saepe.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero consectetur repudiandae, asperiores veniam repellat sapiente optio molestiae culpa quos, aperiam temporibus sit ullam, rem placeat. Aliquam aspernatur mollitia nemo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio quidem dolor officiis aliquid nam? Fugit, repellat sint. Mollitia recusandae qui similique rem autem culpa debitis? Commodi vel reiciendis suscipit fugiat!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reiciendis repellendus accusantium molestias non asperiores nemo est dolorem odio vel, mollitia nobis consequuntur impedit voluptatem architecto, voluptatum, neque laborum dolorum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem reiciendis dolorum aliquam quidem iusto nostrum cupiditate, quam fuga autem velit, sunt illum excepturi rerum temporibus esse? Molestias quibusdam doloribus veritatis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam hic eaque accusamus a recusandae nihil quae molestiae sit similique ea libero quos atque sint corporis, natus architecto possimus voluptatibus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquid aperiam laudantium eligendi qui expedita. Consequuntur tempore dolorem deserunt quos eaque corrupti non, rem vitae reprehenderit, rerum cupiditate fuga possimus!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint enim odit pariatur unde architecto veritatis obcaecati, amet eligendi sed, excepturi, iusto tempora laboriosam id nostrum reprehenderit repellat quia necessitatibus at.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam deserunt esse odio nobis qui sequi veritatis, doloremque, autem debitis eaque nisi nemo neque! Eaque porro delectus nihil unde quaerat iusto.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, similique? Blanditiis sint nesciunt est maxime voluptatem velit id dicta sequi error ad vitae necessitatibus quibusdam, accusamus modi officiis optio. Animi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum incidunt dolor voluptatum aperiam iure, eum in repellat architecto temporibus numquam repellendus reprehenderit debitis natus totam sint repudiandae atque laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat nam inventore esse sint incidunt perferendis corrupti animi. At autem eos reiciendis nisi harum sit laboriosam, maxime non ipsam quibusdam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo inventore, ad molestias labore omnis quidem aliquid repellat recusandae, ratione porro provident? Quis dolore esse facere accusamus maxime nesciunt itaque eligendi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, neque rerum? Ratione, accusantium! Beatae est ipsam a aspernatur voluptates quis error, eos accusantium quibusdam doloribus, nihil optio enim nulla. Adipisci?
                </p>
                <p>
                    <img src="c:/wamp64/www/sitesatymoocosplay/src/img/aion2.jpg" class="photoarticlewow" alt="image de wow selection cfc 2020">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit quos sint similique, necessitatibus facere laboriosam a recusandae eum incidunt tenetur qui illum error dolorum possimus. Corrupti natus nisi saepe.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vero consectetur repudiandae, asperiores veniam repellat sapiente optio molestiae culpa quos, aperiam temporibus sit ullam, rem placeat. Aliquam aspernatur mollitia nemo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio quidem dolor officiis aliquid nam? Fugit, repellat sint. Mollitia recusandae qui similique rem autem culpa debitis? Commodi vel reiciendis suscipit fugiat!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reiciendis repellendus accusantium molestias non asperiores nemo est dolorem odio vel, mollitia nobis consequuntur impedit voluptatem architecto, voluptatum, neque laborum dolorum.
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem reiciendis dolorum aliquam quidem iusto nostrum cupiditate, quam fuga autem velit, sunt illum excepturi rerum temporibus esse? Molestias quibusdam doloribus veritatis?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi laboriosam hic eaque accusamus a recusandae nihil quae molestiae sit similique ea libero quos atque sint corporis, natus architecto possimus voluptatibus.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit aliquid aperiam laudantium eligendi qui expedita. Consequuntur tempore dolorem deserunt quos eaque corrupti non, rem vitae reprehenderit, rerum cupiditate fuga possimus!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint enim odit pariatur unde architecto veritatis obcaecati, amet eligendi sed, excepturi, iusto tempora laboriosam id nostrum reprehenderit repellat quia necessitatibus at.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam deserunt esse odio nobis qui sequi veritatis, doloremque, autem debitis eaque nisi nemo neque! Eaque porro delectus nihil unde quaerat iusto.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, similique? Blanditiis sint nesciunt est maxime voluptatem velit id dicta sequi error ad vitae necessitatibus quibusdam, accusamus modi officiis optio. Animi.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cum incidunt dolor voluptatum aperiam iure, eum in repellat architecto temporibus numquam repellendus reprehenderit debitis natus totam sint repudiandae atque laborum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat nam inventore esse sint incidunt perferendis corrupti animi. At autem eos reiciendis nisi harum sit laboriosam, maxime non ipsam quibusdam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo inventore, ad molestias labore omnis quidem aliquid repellat recusandae, ratione porro provident? Quis dolore esse facere accusamus maxime nesciunt itaque eligendi.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, neque rerum? Ratione, accusantium! Beatae est ipsam a aspernatur voluptates quis error, eos accusantium quibusdam doloribus, nihil optio enim nulla. Adipisci?
                </p>
            </article>
                 

            <!-- post cfc -->
            <!-- footer-->
            
        <div class="block-footer">
            <footer class="footer">
                <div class="container">
                    <div class="block footer-information">
                            <div class="columns footer">
                                <div class="column footer-icon">
                                    <ul class="social-network">
                                        <h2> Réseaux Sociaux</h2>
                                        <li>
                                            <a href="https://www.facebook.com/satymoo/?tn-str=k*F">
                                            <i class="fab fa-facebook-square icon"></i>Facebook
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/satymoo__cosplay/?hl=fr">
                                            <i class="fab fa-instagram icon"></i>Instagram
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                            <i class="fab fa-twitter-square icon"></i>Twitter
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="column footer-adress">
                                    <h2>Mon Adresse</h2>
                                    <ul>
                                        <li>Satymoo Cosplay</li>
                                        <li>Chemin d'Orcet</li>
                                        <li>7550 ORCIER</li>
                                    </ul>
                                </div>
                                <div class="column footer-text">
                                    <h2>Quelques Mots</h2>
                                    <p>Vous pouvez me retrouver dans un grands nombres de convention toute l'année. Je suis disponible pour vous et vous embrasse très fort. A trsè bientôt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </footer>
        </div>
        <!-- footer-->
        <!-- js -->
         <script src="src/jss/main.js"></script>
         <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>       
        <!-- js -->>
               
    </body>
    



</html>